.editor-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    .title {
      background: #A6A6A6;
      border: none;
      font-size: 1.5rem;
      color: white;
      padding: 0.5rem;
      font-weight: 600;
  
      &::placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
    }
  
    .code-editor {
        flex: 1;
        background: #4C4C4C;
        display: flex;
        min-height:calc(100%-44px);
        flex-direction: column;
        .CodeMirror {
          font-size: 1rem;
          flex: 1;
        }
    }
  }