.editor-template {
  width:100%;
  min-height:100%;
  .panes {
    height: calc(100vh - 4rem);
    display: flex;
    position: relative;

    .pane {
      display: flex;
      min-width: 0;
      overflow: auto;
    }

    .divide {
      height: 100%;
      position: absolute;
      transform: translate(-50%);
      cursor: col-resize;
      background: silver;
    }
  }
}