.write-btn{
    border-radius: 50%;
    height:60px;
    width:60px;
    background-color: #14bec4;
    z-index: 9998;
    bottom:10%;
    right:10%;
    line-height: 60px;
    position: fixed;
    text-align: center;
    color:#ffffff;
    font-weight: 800;
    font-size:30px;
}

.contents {
    display:flex;
    position:relative;
    width: 1000px;
    margin:0 auto;
    min-height:calc(100vh - 105px - 80px);
    padding:0 10px;
    padding-top:100px;
  }

  a{
    text-decoration: none;
    color: #5c5c5c;
  }

  img {
      max-width:100%;
  }