@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Questrial&display=swap');

ul li {
    text-decoration: none;
    list-style:none;
}

.navBar{

}
.navigation {
    display:flex;
    justify-content: space-between;
    color: #ffffff;
    line-height:55px;
    cursor: pointer;
    width: 500px;
    margin:0 auto;
    font-family: 'Questrial'
}

.navigation a{
    text-decoration: none;
    color:#757575;  
}
.navigation a:link {
    text-decoration: none;
}
.navigation a:visited {
    text-decoration: none;
}
.navigation a:hover {
    text-decoration: none;
    color:#3dc4c4;
}
