.write_area{
    width:100%;
}
.txt_tit{
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    font-size:15px;
    font-weight:600;
    
}

.txt_tit:focus{
    text-decoration: none;
    outline: none;
    border:2px solid #3dc4c4 !important;
}

.txt_tit:hover{
    border:1px solid #8d8d8d;
}

.txt_tit::placeholder{
    color:#e0e0e0;
}

.txt_cont{
    width:100%;
    resize: none;
    background-color: #000000;
}